.greybackground {
    display: flex;
    background-color: rgb(242, 242, 243);
    justify-content: space-around;
    padding: 7%;   
}
.whitebackground {
    display: flex;
    justify-content: space-around;
    padding: 7%;
}
.iphone {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    padding: 7%
}
.circles {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    padding: 15%
}