.logo {
	margin-bottom: 1em;
}
.social {
    display: inline-block;
    margin-left: -134px;
}

._38GougRNE8 {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1320px;
    display: inline-block;
}

@media (min-width: 1080px){
._38GougRNE8 {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1430px;
}
}
@media (min-width: 720px){
._38GougRNE8 {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1390px;
}
}
@media (min-width: 480px){
._38GougRNE8 {
    max-width: 1350px;
}
}