.yellowbackground {
    display: flex;
    background-color: rgb(246, 235, 179);
    justify-content: space-around;
    padding: 3%;   
}
.iphone {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

.onethird {
    width: 30%;
  
}

.twothirds {
    width: 60%;
}