@import '../../../config/variables';

.container {
  margin: 0 auto;
  max-width: 100rem;
  padding-left: 2rem;
  padding-right: 2rem;
  @media (min-width: 720px) {
    padding-left: 3.8rem;
    padding-right: 3.8rem;
  }
}
.containersm {
  @media (min-width: 550px) {
    margin: 0 auto;
    max-width: 40rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

p {
  line-height: 2rem;
}

//Float 50% - Marign Auto

.floatright {
  @media (max-width: 650px) {
    width: 100%;
    margin: auto;
  }
  // @media (min-width: )
  width: 50%;
  margin: auto 50%;
}

.floatleft {
  @media (max-width: 650px) {
    width: 100%;
    margin: auto;
  }
  width: 50%;
}

// Flexbox 1/2 Containers

section.content {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}
section.content > div.left {
  flex-grow: 1;
  margin: 10px;
}

section.content > div.right {
  flex-grow: 1;
  margin: 10px;
}

//2 Colum Layout 48% - 2% Margin

.divleft {
  display: block;
  width: 48%;
  float: left;
  //height: 100%;
  margin: 0 2% 10px 0;
  @media (max-width: 650px) {
    width: 100%;
  }
}

.divright {
  display: block;
  width: 48%;
  float: right;
  //height: 100%;
  margin: 0 0 10px 2%;
  @media (max-width: 650px) {
    width: 100%;
  }
}

.section-title {
  text-align: center;
  font-size: 250%;
}
.paragraph {
  font-weight: 200;
  @media (min-width: 651px) {
    margin-top: 17%;
  }
}
.acailogorules {
  width: 50rem;
  padding: 15%;
}
.overflow {
  overflow-y: auto;
  //display: block;
  height: 750px;
  text-align: center;
  @media (min-width: 650px) {
    padding-left: 10%;
  }
}
.Mobilecenter {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  @media (max-width: 650px) {
    text-align: center;
  }
}
.layout {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  vertical-align: baseline;
  border: 0;
  list-style: none;
  padding-bottom: 30px;
  width: 50%;
  padding-top: 3rem;
  @include nav-phone {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
}
.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // margin-left: -7px;
  // margin-right: -7px;
  @include medium {
    margin: 0;
  }
}
.layoutleft {
  padding-top: 10rem;
}
.shadow {
  box-shadow: -12px 7px 23px 0px rgba(0, 0, 0, 0.22);
}
.random {
  width: 26em;
}

img.random {
  transition: all 300ms ease-in-out;
}

div.left:hover img,
div.right:hover img {
  @media (min-width: 1000px) {
    transform: scale(0.98);
  }
}

.purplebg {
  background-color: rgb(37, 7, 42);
}
.acailogo {
  padding: 2rem;
  @media (min-width: 1050px) {
    padding: 5rem;
  }
}

//HEADINGS

.heading {
  margin-bottom: 5px;
  font-weight: 400;
}

.text {
  font-weight: 200;
}

.h3text {
  line-height: 2rem;
}

//Horizontal Seperation Line

.horizontalline {
  border-top: 1px solid #8c8b8b;
}

.flexfifty {
  @media (min-width: 650px) {
    display: flex;
  }
}

.flexright {
  @media (min-width: 650px) {
    width: 50%;
  }
  width: 100%;
  padding: 1em;
}

.flexleft {
  @media (min-width: 650px) {
    width: 50%;
  }
  width: 100%;
  padding: 1em;
}

// Flexbox Logo 1/2 Containers

section.contentlogo {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}
section.contentlogo > div.left {
  flex-grow: 1;
  margin: 10px;
  width: 50%;
  text-align: center;
  @media (max-width: 650px) {
    width: 100%;
  }
}

section.contentlogo > div.right {
  flex-grow: 1;
  margin: 10px;
  width: 100%;
  align-items: center;
  display: flex;
  @media (max-width: 650px) {
    width: 100%;
  }
}