.images{
    border-radius: 100%;
    width: 10rem;
    margin-bottom: 0px;
    background-color: white;
}
.items {
    font-weight: 100;
    margin-bottom: 0;
    font-size: 0.9em;
}

.linetop {
    border: 0.5px solid #d1d3d4;
    width: 50%;
    margin: 4% 24%;
}
.linebottom {
    border-top: 1px solid #d1d3d4;
    width: 50%;
    margin: 0% 24% 0; 
}