@import '../../../../../config/variables';

.heading {
    padding: 0;
    margin: 0;
    text-align: center;
}
.atr {
        text-align: center;
        word-spacing: 0.2em;
        font-size: 0.8em;
        color: $darkgrey;
}